# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
dist/
.env

# Node
node_modules/
frontend/dist/

# OS
.DS_Store

# IDE
.idea/
.vscode/

# GEE credentials (never commit)
backend/*.json
key.json


hosting.*